name: CI

on:
  push:
    branches: [ staging, trying, master ]
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - name: Done
        run: exit 0

  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - stm32c0
          - stm32f0
          - stm32f1
          - stm32f2
          - stm32f3
          - stm32f4
          - stm32f7
          - stm32h5
          - stm32h7
          - stm32l0
          - stm32l1
          - stm32l4
          - stm32l5
          - stm32g0
          - stm32g4
          - stm32mp1
          - stm32wl
          - stm32wb
          - stm32u5

    env:
      CRATES: ${{ matrix.crate }}
      CARGO_INCREMENTAL: 0
      SVDTOOLS: svdtools

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils

      - name: Create working crate
        run: make crates

      - name: Install tools
        run: |
          ./scripts/tool_install.sh svdtools
          ./scripts/tool_install.sh svd2rust

      - name: Patch SVDs
        run: make -j2 patch

      - name: Check SVDs
        run: make lint

      - name: Build PACs
        run: make -j2 svd2rust

      - name: Check PACs
        run: make -j2 check
